@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: sans-serif;
}

nav{
  background-color:rgb(226, 222, 222);
}

nav .navbar-nav {
  margin-left: auto;
}

nav ul li {
  text-transform: uppercase; 
}

.navbar-nav li a {
  color:black;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  margin:0 2rem ;
  padding: 0 !important;
  border-top: 0.2rem solid rgb(226, 222, 222);
}

.navbar-nav li a:hover {
  color:crimson;
  border-top: 0.2rem solid orangered;

}

nav .navbar-brand {
  color: crimson;
  font-size: 2.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .navbar-brand:hover {
  color: crimson;
}

.navbar-nav li a.active,  .navbar-nav li a.active:focus {
  border-top: 0.2rem solid orangered;
}


