@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: sans-serif;
}


nav .navbar-nav {
  margin-left: auto;
}



nav ul li {
  text-transform: uppercase;
  
}

.navbar-nav li a {
  color: white;
  margin:0 0.75rem ;
  padding: 0 !important;
}

.navbar-nav li a:hover {
  color: red;
}

nav .navbar-brand {
  color: crimson;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .navbar-brand:hover {
  color: crimson;
}
